asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
Django==3.0.8
django-inspectdb==0.2.1
idna==2.10
mysql-connector==2.2.9
mysqlclient==1.4.6
Naked==0.1.31
numpy==1.19.1
pandas==1.0.5
Pillow==7.2.0
pycryptodome==3.9.8
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
shellescape==3.8.1
simplejson==3.17.2
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
