<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="Onion Opinion" name="description">
    <meta content="Onion Opinion designer" name="author">
    <link href="{% static '/images/favicon.ico' %}" rel="icon" type="image/x-icon"/>
    <title>Onion Opinion | Login</title>
    <!-- Bootstrap Core and vandor -->
    <link href="{% static '/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!-- Core css -->
    <link href="{% static '/css/main.css' %}" rel="stylesheet"/>
    <link href="{% static '/css/theme2.css' %}" rel="stylesheet"/>
    <style>
    @media screen and (min-width: 769px){
    .auth .auth_left {
        background: transparent;
        width: 30%;
        margin-left: 10rem;
    }
    }

    </style>
</head>
<body class="font-opensans">
<div class="auth">
    <div class="auth_left">
        <div class="card">
            <div class="card-body">
                <div class="text-center mb-5">
                    <a class="header-brand" href="{% url 'Main:home' %}"><i class="fa fa-home brand-logo"></i></a>
                </div>
                <div class="card-title">Login to your account</div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="form-label">Email address</label>
                        <input aria-describedby="emailHelp" class="form-control" id="email" name="email"
                               placeholder="Enter email" required type="email">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Password<a class="float-right small" href="forgot-password.html">I
                            forgot password</a></label>
                        <input class="form-control" id="password" name="password" placeholder="Password" required
                               type="password">
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox"/>
                            <span class="custom-control-label">Remember me</span>
                        </label>
                    </div>
                    <div class="form-footer">
                        <button class="btn btn-primary btn-block" title="" type="submit">Sign in</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center text-muted">
                Don't have account yet? <a href="{% url 'Accounts:register' %}">Sign up</a>
            </div>
        </div>
    </div>
    <div class="auth_right">
        <div class="carousel slide" data-interval="3000" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img alt="login page" class="img-fluid" src="{% static '/images/slider1.png' %}"/>
                    <div class="px-4 mt-4">
                        <h4>Full control</h4>
                        <p>Control whether your survey is public or private.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="login page" class="img-fluid" src="{% static '/images/slider2.svg' %}"/>
                    <div class="px-4 mt-4">
                        <h4>Quality Survey and Easy Customizability</h4>
                        <p>There are many variations of questions types to use.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="login page" class="img-fluid" src="{% static '/images/slider3.svg' %}"/>
                    <div class="px-4 mt-4">
                        <h4>Cross Browser Compatibility</h4>
                        <p>On Mobile or Desktop you can create and share easily.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static '/bundles/lib.vendor.bundle.js' %}"></script>
<script src="{% static '/js/core.js' %}"></script>
</body>
</html>

