<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="Onion Opinion" name="description">
    <meta content="Onion Opinion designer" name="author">
    <link href="{% static '/images/favicon.ico' %}" rel="icon" type="image/x-icon"/>
    <title>Onion Opinion | Update Info</title>
    <!-- Bootstrap Core and vandor -->
    <link href="{% static '/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!-- Core css -->
    <link href="{% static '/css/main.css' %}" rel="stylesheet"/>
    <link href="{% static '/css/theme2.css' %}" rel="stylesheet"/>
</head>
<body class="font-opensans">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
    </div>
</div>
<!-- Overlay For Sidebars -->
<div id="main_content">
    <div class="header_top" id="header_top">
        <div class="container">
            <div class="hright">
                <div class="dropdown">
                    <a class="nav-link icon menu_toggle" data-original-title="Expand" data-toggle="tooltip"
                       href="javascript:void(0)"><i class="fa fa-align-left"></i></a>
                    <a class="nav-link icon menu_toggle" data-original-title="Logout" data-toggle="tooltip"
                       href="{% url 'Accounts:logout' %}"><i class="fe fe-log-out"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar " id="left-sidebar">
        <h5 class="brand-name">Onion Opinion <a class="menu_option float-right" href="javascript:void(0)"><i
                class="icon-grid font-16" data-placement="left" data-toggle="tooltip"
                title="Grid & List Toggle"></i></a></h5>
        <nav class="sidebar-nav" id="left-sidebar-nav">
            <ul class="metismenu">
                <li class="g_heading">Directories</li>
                <li><a href="{% url 'Main:user_surveys' %}"><i class="fe fe-file-text"></i><span>Surveys</span></a>
                </li>
                <li><a href="{% url 'Main:create_survey' %}"><i class="fa fa-plus"></i><span>Create Survey</span></a>
                </li>
                {% if user.is_superuser %}
                <li><a href="{% url 'Main:users' %}"><i class="fe fe-users"></i><span>Users</span></a>
                </li>

                <li><a href="{% url 'Accounts:create_user' %}"><i
                        class="fe fe-user-plus    "></i><span>Create User</span></a>
                </li>
                {% endif %}
                <li><a href="{% url 'Accounts:update_info' %}"><i class="icon-user"></i><span>Update Info</span></a>
                </li>
                <li><a href="{% url 'Accounts:change_password' %}"><i class="icon-lock"></i><span>Change Password</span></a>
                </li>
                {% if user.is_superuser %}
                <li><a href="{% url 'Main:messages' %}"><i class="fe fe-mail"></i><span>Messages</span></a>
                </li>
                {% endif %}
                {% if user.is_superuser == False %}
                <li><a href="{% url 'Main:contact_us' %}"><i class="fe fe-mail"></i><span>Report to Admin</span></a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="page">
        <div class="section-body" id="page_top">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="left">
                        <h1 class="page-title">Dashboard</h1>
                    </div>
                    <div class="right">
                        <div class="notification d-flex">
                            <div class="dropdown d-flex">
                                <a href="{% url 'Accounts:logout' %}"
                                   class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-1"><i
                                        class="fe fe-log-out mr-1"></i> Sign out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body">
            <div class="container-fluid">
                <h4>Update Info</h4>
            </div>
        </div>
        <div class="section-body">
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-md-8">
                        <div class="card mt-2">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="Company_Settings">
                                    <div class="card">
                                        <div class="card-body">
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>First Name <span class="text-danger">*</span></label>
                                                            <input class="form-control" name="first_name" required
                                                                   type="text" value="{{ user.first_name }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Last Name <span class="text-danger">*</span></label>
                                                            <input class="form-control" name="last_name" required
                                                                   type="text" value="{{ user.last_name }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input class="form-control" readonly type="email"
                                                                   value="{{ user.email }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="form-label">Mobile <span
                                                                    class="text-danger">*</span></label>
                                                            <input class="form-control" name="mobile" required
                                                                   type="tel" value="{{ user.mobile }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="form-label">Birthdate<span
                                                                    class="text-danger">*</span></label>
                                                            <input class="form-control" name="birth_date" required
                                                                   type="date"
                                                                   value="{{ user.birth_date|date:'Y-m-d' }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="form-group">
                                                            <div class="form-label">Gender <span
                                                                    class="text-danger">*</span></div>
                                                            <div class="custom-controls-stacked">
                                                                {% if request.user.gender == 'male' %}
                                                                <label class="custom-control custom-radio custom-control-inline">
                                                                    <input checked class="custom-control-input"
                                                                           name="gender" type="radio" value="male">
                                                                    <span class="custom-control-label">Male</span>
                                                                </label>
                                                                <label class="custom-control custom-radio custom-control-inline">
                                                                    <input class="custom-control-input" name="gender"
                                                                           type="radio" value="female">
                                                                    <span class="custom-control-label">Female</span>
                                                                </label>
                                                                {% else %}
                                                                <label class="custom-control custom-radio custom-control-inline">
                                                                    <input class="custom-control-input" name="gender"
                                                                           type="radio" value="male">
                                                                    <span class="custom-control-label">Male</span>
                                                                </label>
                                                                <label class="custom-control custom-radio custom-control-inline">
                                                                    <input checked class="custom-control-input"
                                                                           name="gender" type="radio" value="female">
                                                                    <span class="custom-control-label">Female</span>
                                                                </label>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 text-right m-t-20">
                                                        <button class="btn btn-primary" type="submit">SAVE</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center mt-5">
                        <i class="icon-user display-1 text-warning"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body">
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            Copyright © 2019 <a href="javascript:void(0)">Onion Opinion</a>.
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<script src="{% static '/bundles/lib.vendor.bundle.js' %}"></script>
<script src="{% static '/plugins/dropify/js/dropify.min.js' %}"></script>
<script src="{% static '/js/core.js' %}"></script>
</body>
</html>